
html {
    font-size: 100%;

}

body {
    font-family: "Lato", Calibri, Arial, sans-serif;
    background-color: #f0b324;
    font-size: 2rem;
    text-align: center;
    color: #041e43;

}

/* Style the links inside the navigation bar */
button  {
    color: #f0b324;
    background-color: #041e43;
    padding: 1Rem 3.5Rem;
    text-decoration: none;
    font-size: 2Rem;
    margin: 3Rem;
    border-style: none;
    border-radius: 25px;
}

.nav-button{
    font-size: 25px;
    width: 25%;
    padding: 20px 30px;
    margin: 10px 15px;

}


/* Change the color of links on hover*/
button a:hover, button:hover {
    background-color: #0b4596;
    color: black;
}

/* Bordered form */
form {
    border: 0.3Rem solid #f1f1f1;
}
/* Full-width inputs */
input[type=text], input[type=password] {
    padding: 2Rem 5Rem;
    margin: 3rem 0;
    display: inline-block;
    font-size: 2Rem;

}


li {
    list-style-type: none;
    padding-bottom: 1.5rem;


}

.adminButtons{
    padding: 50px 25px;
    height:auto;
    width: auto;
}
.adminButtons img {
    height: 5rem;
    width: auto;
    color: #f0b324;
    align-content: center;
    text-align: center;

}


.profilePicture img {
    border-radius: 50%;
    margin-top: 8rem;
    margin-bottom: 2rem;
    width: 25Rem;
    height: 25Rem;

}

table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width:100%;
}

/* ---------- CALENDAR ---------- */


.calendar h2 {
    text-transform: uppercase;
}

.calendar thead {
    font-weight: 600;
    text-transform: uppercase;
}

.calendar tbody {
    color: black;
}

.calendar td {
    border: 2px solid transparent;
    border-radius: 50%;
    display: inline-block;
    height: 4em;
    line-height: 4em;
    text-align: center;
    width: 4em;
}

.calendar .prev-month,
.calendar .next-month {
    color: grey;
}

.current-day {
    background: #041e43;
    color: white;
}

.event {
    cursor: pointer;
    position: relative;
}

.event:after {
    background: #00addf;
    border-radius: 50%;
    bottom: 0.5em;
    display: block;
    content: "";
    height: 0.5em;
    left: 50%;
    margin: -0.25em 0 0 -0.25em;
    position: absolute;
    width: 0.5em;
}

.event.current-day:after {
    background: black;
}

.btn-prev,
.btn-next {
    border: 2px solid black;
    color: white;
    height: 4em;
    font-size: 0.75em;
    line-height: 2em;
}

.btn-prev:hover,
.btn-next:hover {
    background: #041e43;
    color: white;
}

.btn-prev {
    left: 6em;
}

.btn-next {
    right: 6em;
}







