
html {
    font-size: 100%;

}

body {
    font-family: "Lato", Calibri, Arial, sans-serif;
    background-color: #f0f0f0;
    font-size: 2rem;
    text-align: center;

}

/* Style the links inside the navigation bar */
button  {
    color: #f2f2f2;
    background-color: cornflowerblue;
    padding: 1Rem 3.5Rem;
    text-decoration: none;
    font-size: 2Rem;
    margin: 3Rem;
}

.topnav a{
    color: #f2f2f2;
    background-color: cornflowerblue ;
    font-size: 3Rem;
    padding: 2Rem 1Rem;
    margin-top: 1Rem;
}


/* Change the color of links on hover */
.topnav a:hover, .topnav a.active:hover, button:hover {
    background-color: #F0D0C9;
    color: black;
}

/* Bordered form */
form {
    border: 0.3Rem solid #f1f1f1;
}
/* Full-width inputs */
input[type=text], input[type=password] {
    padding: 2Rem 5Rem;
    margin: 3rem 0;
    border: 0.1Rem solid #ccc;
    display: inline-block;
    font-size: 2Rem;

}


li {
    list-style-type: none;
    padding-bottom: 1.5rem;


}
.adminButtons a {
    height: 25px;
    width: 25px;
}


.profilePicture img {
    border-radius: 50%;
    margin-top: 8rem;
    margin-bottom: 2rem;
    width: 25Rem;
    height: 25Rem;

}








